/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
*/



/* ------------------------------- 2. Typography ----------------------------------- */




/* ------------------------------- 3. Layout --------------------------------------- */
body{
    width: 100vw;
    border: 4px solid yellow;

}
/* --------------- 4.1 Header ------------------------- */
header{
    display: flex;
    flex-direction: column;
    height: 40vh;
    background: rgb(87,34,192);
    background: linear-gradient(270deg, rgba(87,34,192,1) 50%, rgba(72,69,228,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 85%);
}
header nav{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    border: 4px solid black ;
    padding: 0.75rem 2rem 0.75rem ;
    font-family: "roboto", monospace;
    font-size: 1rem;
    color: white;
}
header .Herro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67%;
    border:solid 4px red;
    text-align: center;
}


header .Herro div{
    width: 48rem;
}
header .Herro div h1{
    font-family: "Merriweather", monospace;
    font-size: 2.5rem;
    font-weight: 700;
    color:white;
}
header .Herro div p{
    font-family: "roboto", monospace;
    font-size: 1.5rem;
    color:white;
}
header .Herro div button{
    background-color: #ED4385;
    font-family: "roboto", monospace;
    font-size: 1rem;
    padding-inline: 1rem;
    border-radius: 50rem;
    height: 3rem;
    color:white;
}
header .squiggle-con{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------- section 1 ------------------------- */
.hello{
    text-align: center;
    width: 35rem;
    font-family: "merriweather", monospace;
    color:#5722CD;
    font-weight: 600;
    font-size: 1.5rem;
}

/* --------------- section 2 ------------------------- */
div .s1-outer{
    display: flex;
    flex-direction: column;
}
div .s1-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid lightblue ;
    margin: 0 0 3rem;
}
.s1-text{
    margin: 4rem;
}
.wrapper {
    height: 200px;
    display: flex;
    gap: 20px;
}
.box img {
    width: 100%;
    height: 100%;
}
.box1 img {
    object-fit: cover;
}

/* --------------- section 3 ------------------------- */
/* --------------- section 4 ------------------------- */
/* -----------------footer ------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
div{
    border: 4px solid blue;
}
section{
    display: flex;
    justify-content: center;
    border: 4px solid lightgreen;
    padding: 2rem
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */



/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */